interactions:
- request:
    body: '{"activity": {"recipient": {"id": "U19KH8EHJ:T03CWQ0QB"}, "channelId":
      "slack", "text": "Hi there!", "type": "message"}, "bot": {"id": "B21UTEF8S:T03CWQ0QB"},
      "members": [{"id": "U19KH8EHJ:T03CWQ0QB"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://slack.botframework.com/v3/conversations
  response:
    body: {string: "{\r\n  \"activityId\": \"1514296290.000025\",\r\n  \"id\": \"\
        B21UTEF8S:T03CWQ0QB:D2369CT7C\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
