interactions:
- request:
    body: '{"type": "message", "from": {"id": "B21UTEF8S:T03CWQ0QB"}, "text": "Updating
      activity...", "channelId": "slack", "recipient": {"id": "U19KH8EHJ:T03CWQ0QB"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://slack.botframework.com/v3/conversations/B21UTEF8S%3AT03CWQ0QB%3AD2369CT7C/activities
  response:
    body: {string: "{\r\n  \"id\": \"1514310955.000243\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "message", "from": {"id": "B21UTEF8S:T03CWQ0QB"}, "text": "Activity
      updated.", "channelId": "slack", "recipient": {"id": "U19KH8EHJ:T03CWQ0QB"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://slack.botframework.com/v3/conversations/B21UTEF8S%3AT03CWQ0QB%3AD2369CT7C/activities/1514310955.000243
  response:
    body: {string: "{\r\n  \"id\": \"1514310955.000243\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
