interactions:
- request:
    body: '{"bot": {"id": "B21UTEF8S:T03CWQ0QB"}, "members": [{"id": "B21UTEF8S:T03CWQ0QB"}],
      "activity": {"type": "message", "channelId": "slack", "from": {"id": "B21UTEF8S:T03CWQ0QB"},
      "recipient": {"id": "B21UTEF8S:T03CWQ0QB"}, "textFormat": "markdown", "attachmentLayout":
      "list", "text": "Hi there!"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://slack.botframework.com/v3/conversations
  response:
    body: {string: "{\r\n  \"error\": {\r\n    \"code\": \"BadArgument\",\r\n    \"\
        message\": \"Bots cannot IM other bots\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 400, message: Bad Request}
version: 1
