interactions:
- request:
    body: '{"bot": {"id": "INVALID"}, "members": [{"id": "U19KH8EHJ:T03CWQ0QB"}],
      "activity": {"type": "message", "channelId": "slack", "from": {"id": "INVALID"},
      "recipient": {"id": "U19KH8EHJ:T03CWQ0QB"}, "textFormat": "markdown", "attachmentLayout":
      "list", "text": "Hi there!"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://slack.botframework.com/v3/conversations
  response:
    body: {string: "{\r\n  \"error\": {\r\n    \"code\": \"ServiceError\",\r\n   \
        \ \"message\": \"Invalid userId: INVALID\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 400, message: Bad Request}
version: 1
