interactions:
- request:
    body: '{"type": "message", "channelId": "slack", "from": {"id": "B21UTEF8S:T03CWQ0QB"},
      "recipient": {"id": "U19KH8EHJ:T03CWQ0QB"}, "textFormat": "markdown", "attachmentLayout":
      "list", "text": "Child activity."}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://slack.botframework.com/v3/conversations/INVALID_ID/activities/INVALID_ID
  response:
    body: {string: "{\r\n  \"error\": {\r\n    \"code\": \"ServiceError\",\r\n   \
        \ \"message\": \"Invalid ConversationId: INVALID_ID\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 400, message: Bad Request}
version: 1
