interactions:
- request:
    body: '{"recipient": {"id": "U19KH8EHJ:T03CWQ0QB"}, "channelId": "slack", "text":
      "Hello again!", "from": {"id": "B21UTEF8S:T03CWQ0QB"}, "type": "message"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://slack.botframework.com/v3/conversations/B21UTEF8S%3AT03CWQ0QB%3AD2369CT7C/activities
  response:
    body: {string: "{\r\n  \"id\": \"1514296291.000146\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
