interactions:
- request:
    body: '{"bot": {"id": "B21UTEF8S:T03CWQ0QB"}, "members": [], "activity": {"type":
      "message", "channelId": "slack", "from": {"id": "B21UTEF8S:T03CWQ0QB"}, "text":
      "Hi there!"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://slack.botframework.com/v3/conversations
  response:
    body: {string: "{\r\n  \"error\": {\r\n    \"code\": \"BadArgument\",\r\n    \"\
        message\": \"Conversations must be to a single member\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 400, message: Bad Request}
version: 1
