git+https://github.com/Azure/msrest-for-python@8ffedd8a3a804a38a5057c080ddd382e777df37d # A commit on the "async2" branch of msrest-for-python
botframework-connector>=4.0.0.a2
botbuilder-schema>=4.0.0.a2
requests>=2.18.1
PyJWT==1.5.3
cryptography==2.1.4